@import url("https://fonts.googleapis.com/css2?family=Inter&family=Protest+Revolution&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-style {
    background-color: #93c5fd;
    border-radius: 0.5rem;
    height: 3rem;
    width: 10rem;
    color: white;
  }
  .btn-style:hover {
    background-color: #3b82f6;
  }

  .display-format {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .default-size{
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    
  }

  .form-style{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 600;
  }

  .input-style {
   max-width: 100%;
   height: 2rem;
    padding: 1rem;
  }

  .header {
    @apply text-7xl font-semibold uppercase pt-16 pb-4 font-customFont text-blue-300 border-b-8 border-dashed;
  }
  
}
